

<div>
  <div class="m-30">
    <input name="brewerystate" placeholder="Seaerch By State" [(ngModel)]="searchState" type="text" >
    <button (click)="getBreweriesListByState(searchState.trim())">Search</button>
  </div>
  <div class="m-30">
    <input name="breweryType" placeholder="Search By Brewery Type" [(ngModel)]="searchType" type="text" >
    <button (click)="getBreweriesListByType(searchType.trim())">Search</button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
<th scope="col">Name</th>
<th scope="col">Brewery Type</th>
<th scope="col">Street</th>
<th scope="col">Address</th>
<th scope="col">City</th>
<th scope="col">State</th>
<th scope="col">Province</th>
<th scope="col">Postal Code</th>
<th scope="col">Country</th>
<!-- <th scope="col">Longitude</th>
<th scope="col">Latitude</th> -->
<th scope="col">Phone</th>
<th scope="col">Website</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let brewery of breweriesList">
      <td>
        {{brewery.id}}

      </td>
      
      <td>
        {{brewery.name}}
        
      </td>
      
      <td>
        {{brewery.brewery_type}}
      </td>
      
      <td>
        {{brewery.street}}    
        
      </td>
      
      <td>
        {{brewery.address_2}} {{brewery.address_3}}
        
      </td>
      
      <td>
        {{brewery.city}}
        
      </td>
      
      <td>  
        {{brewery.state}}
        
      </td>
      
      <td>
        {{brewery.county_province}}
        
      </td>
      
      <td>
        {{brewery.postal_code}}
        
      </td>
      
      <td>
        {{brewery.country}}
        
      </td>
      
      <!-- <td>
        {{brewery.longitude}}
        
      </td>
      
      <td>
        {{brewery.latitude}}
        
      </td> -->
      
      <td>
        {{brewery.phone}}
        
      </td>
      <td>
        <a [href]="brewery.website_url"> Website</a>        
      </td>
    </tr>
  </tbody>
  </table>
</div>


<router-outlet></router-outlet>
